.chatRoom
  .messageContainer
    app-userpic.chat__userpic
    .message
      | Привет, как дела?
    .date
      | 27 ноября

.chatInput
  input(placeholder="Напишите сообщение")
  button.btn
    | Отправить
